files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICljCCAX4CCQCyyM8CzLwiRDANBgkqhkiG9w0BAQsFADANMQswCQYDVQQGEwJJ
      TjAeFw0yMzAyMDUwMzMyMzRaFw0yNDAyMDUwMzMyMzRaMA0xCzAJBgNVBAYTAklO
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0eLob/8BDH7x/+wkdi+p
      dHewPOsINzsZMa2FSwFoMX81HKvWd6jDC0OCILGT15tuI2Kwb9OG9PjsotrgKldZ
      6PZajR11jhlLSwdAKU6O5OXMi7aLH1I1cZOZMl4vb/wlrySVhXD0ZwnvC29VWMPL
      a1nB2UxGWALVu3E4EwhzZbKS1oZYLTKzpLG8G++NPFdJVbJmeDZLOeaLRsBZVZSJ
      GKH+7CnvorOyw3CdCBwsbl9YyxPX05iihJkxUfAX1CdRtmgU3E0JN3bFoXz1JpuZ
      /QMkekMjovTu3zq6pLRSInvQSbV1+imScBcFT4A4ZnCXbr7Pl5FDBFKXSL6/hjFf
      hwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCVR6LTM6DnV86qKoSdm/EnDk21df9G
      vMljG6EK8+DWSW6bEagDo5iiJnjd51EOKaXYXW110EUT2tH+bvVQFe+MnWBLY64V
      jwsu0W3w9n5jQSD9p1/nmYL/wfIu5A0t6cWIJMuFuaHjMyEaomRRHvoCwOXml5Q8
      lRQcGxJg1LUXz6mjbWbDRgxXdZOpoVgF/7AoTfc+VAh0E39IDu19OZr/+vjU3dXz
      er75eOgodG5c6R2QcS+2AcDoYi8ua8EaCY6fbRpApGNE3rcyPR3GAs1KlC0KtdVA
      YCGtZbShC1l2CALWTQ+GJKqPVqf502eCfdcB3+BD0G1/Uq+tfx4U0U1z
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDR4uhv/wEMfvH/
      7CR2L6l0d7A86wg3OxkxrYVLAWgxfzUcq9Z3qMMLQ4IgsZPXm24jYrBv04b0+Oyi
      2uAqV1no9lqNHXWOGUtLB0ApTo7k5cyLtosfUjVxk5kyXi9v/CWvJJWFcPRnCe8L
      b1VYw8trWcHZTEZYAtW7cTgTCHNlspLWhlgtMrOksbwb7408V0lVsmZ4Nks55otG
      wFlVlIkYof7sKe+is7LDcJ0IHCxuX1jLE9fTmKKEmTFR8BfUJ1G2aBTcTQk3dsWh
      fPUmm5n9AyR6QyOi9O7fOrqktFIie9BJtXX6KZJwFwVPgDhmcJduvs+XkUMEUpdI
      vr+GMV+HAgMBAAECggEBAKBR/tJtqtNstFWUf1V3mqzIL+qYbTIjBl+X99UPQhNs
      45j++Vd1pWaZLnDis9dhdoO5AqSootHEwpyzK7+r8ZWteAWKlxzv3T92TmA/DY9y
      qQefbC2EkiYrZD3BC+Mya2aZP00qtsVuJRZK+JpRFLTvXs8pICJiJ/iBxx9iuSLY
      HUWK1LOW6uVow/T9VBdooqMYe/Yeiqjzwnd0VBSq2u3HC59pV3YGJXsfAeoz2OC/
      VqwDji6aqOjAEgqsA8o3EEj6wO86+ClYFKmVFMx8gSuZAWYie1r5vCZG8uraO7H1
      EFChXy0oQf0gi58Z6uHMCWcHdj1baLQmzWBU8/z526ECgYEA/ETpsFxDy9rL/qnd
      mDQFZtxvIIf8JG2TRe2mcjOH0+tc2c0nyMRN9uIhLnjeRY03iT+oP7CM8UpOwK94
      oBqzc3hHT3Emz7AmiN5Sn0YqcTmCNTdgp++ZP1x0fj5XafTIw3zboJZk+SBkA1nA
      JojL9wrNT8uZPWBJaVusOofYkl0CgYEA1P2IzWFkPuLlTbA/hsDdgMzeZEftZhHH
      lWTuO5vjRFydR8fShE//ryZ89d29pqA6kkNtGMUr2cs7rWTNrMEG6NvdbAndGX5k
      w62TcaBzYWJEi4ZeK3JIpWKkuUqpDLDGKgr3Kuvm4vbeY8zaGXTLQCG+viQKpXtf
      eR/u4myXozMCgYEAt6nsgawK6AYZ8wT1AnUNYcAnYAXhOxxT1tuZDRgbUdzPsvq8
      dl0FbjNgeRcirHyN7GzeL9B4LMwu3fZi2h3WfMEbGemFmjvjMk661J8fE2QNOnVg
      96NnbUwAvFDjD49aA4mJ1TbpuL8uUYosbWG3Lds9c1UF8juB9yT5FXwF3zkCgYBw
      ETLQ9cScPiBu3ySdz478vU7qrtnfkc1U8vVS0fQjvSNYaHCBA+LBktu/Njwal0Ya
      PXYCyYQIJaIx2s9JbYsoLL91oD8Asfts5kClUcpD3EO6simMbKaCtsN7ZyhJsB2k
      c36Xy+YBV+mt01SSflyPUvIc87PSXHbgsYetBXxH9wKBgQCf2UqqVeGe1WcEhSO4
      3zm+pRluW8I/xFZAusrV2qHrXdoswk4NjsMjSukhPffhGq6T/JrLw/58amFkAM4U
      T+AFviIfobdZ8nIEWIb/u+WZu67IGTBHzyfjioJ7dfwIWdbGQLF0eOhfNmrlJQkj
      NfktxTavEh8hQlkSx3maHRRmSg==
      -----END PRIVATE KEY-----

